body {
    margin: 0;
}

.header {
    background-color: #000;
    padding: 20px;
}

.header a { 
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
h1 {
    padding: 10px;
    cursor: pointer;
}
.container {
    width: 23%;
    display: inline-block;
    padding: 10px;
}
.container img {
    width: 100%;
}

button {
    background-color: forestgreen;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 20px;
    border: none;
    color: #fff;
}

.overlay {
    background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
    height: calc(81px);
    position: relative;
    top: -81px;
    z-index: 1;
}

.overlay span {
    display: block;
    padding: 35px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}

.unused-css {
    padding: 10px;
}
