$color: #fff;

.section .title {
    font-size: 35px;
    padding-bottom: 10px;
    color: #fff;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
}

.section .description {
    font-size: 18px;
    color: #fff;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
}

